<ion-header>
  <ion-toolbar>
    <ion-title>
      Ion-toggle
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="show_settings()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <!--
    <ion-item>
      <ion-label>Enable USB debugging</ion-label>
      <ion-toggle [(ngModel)]="usbDebugging"></ion-toggle>
    </ion-item>
    -->
    <ion-item>
      <ion-label>Usb debugging is {{this.settingsService.usbDebugging}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
