<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
          <ion-label>Enable USB debugging</ion-label>
          <ion-toggle [(ngModel)]="this.settingsService.usbDebugging"></ion-toggle>
        </ion-item>
      </ion-list>
</ion-content>
